ion-header {
    --padding-start: 0;
    --padding-end: 0;
    box-shadow: 0px 3px 6px #EDEDED !important;
    height: 161px;

    ion-toolbar {
        --background: #EF3890;
        --padding-start: 15px;
        --padding-end: 15px;
        padding-top: 60px;
        padding-bottom: 12px;
        height: 100%;
        display: flex;

        .barra-busqueda-container {
            display: flex;
            align-items: center;
            width: 100%;
            height: 40px !important;
            margin-bottom: 10px;
            margin-top: auto;

            ion-searchbar {
                --border-radius: 10px;
                --box-shadow: 0;
                --icon-color: #110f0f;
                --background: #ffffff;
                font-family: Poppins Regular;
                color: #a5a5a5;
                font-size: 15px !important;
                height: 100%;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                height: 40px !important;
                
                .searchbar-search-icon {
                   margin-left: 30px !important;
                } 

                /* Estilo para el placeholder usando ::part */
                ::ng-deep input::placeholder {
                    font-size: 15px;
                    color: #ACA6A9;  
                    font-family: Poppins Regular;
                    
                }
              
            }
        }
    }
}


ion-content{

    --background: #FFFFFF;
}

ion-list{

  margin-top: 0px;

}

ion-item{

    margin-top: 20px;
    border-bottom: 1px solid #D9D9D9 ; 
    width: 100%;
    height: 70px;
}
ion-item:nth-child(4) {
    border-bottom: none !important;
  }

ion-avatar{
  margin-left: 10px ;
  height:48px;
  width:48px;
}
.message-label {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
 
  }
  
  .name-time-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 5px; 
    width: 100%;
   
  }

  h2{

    font-family: Poppins Medium;
    font-size: 16px;
    color: #100F0F;
    
  }
  
  .time {
    font-family: Poppins Regular;
    font-size: 12px; 
    color: #ACA6A9; 
    margin-left: auto;
   
  }

  p{

    color:#100F0F;
    font-size: 15px;
    font-family: Poppins Light;
  }
  
  .new-message{

    color:#100F0F;
    font-size: 15px;
    font-family: Poppins Light;
  }

  .new-message-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
   
  }
  
 
  .custom-badge {
    background-color: #F46CAD;
    color: #ffffff;
    font-family: Poppins Regular;
    font-size: 13px;
    margin-left: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-flex;  
    justify-content: center;  
    align-items: center;  
    text-align: center; 
  }
  
  
  .last-item{

    border-bottom: transparent; 
  }