<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="custom-header">
      <div class="header-content">
        <ion-button class="back-button" fill="solid"  (click)="goBack()">
          <ion-icon class="icono" slot="start" src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg"></ion-icon>
          
        </ion-button>
        <div class="header-center">
          <p class="header-title"></p>
        </div>
      

        <!-- Aquí se inserta el contenido adicional (botones, íconos) -->
        <ng-content></ng-content>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="title">¡Cuéntanos un poco sobre ti!</h1>
        <p class="subtitle">
          Para poder encontrar perfiles afines a ti, necesitamos que contestes
          las siguientes preguntas.
        </p>
      </ion-col>
    </ion-row>

 <!-- Pregunta 1 -->
<ion-row>
  <ion-col>
    <p class="question-title">¿Te gusta más la noche o el día?</p>
    <ion-item class="custom-item" lines="none">
      <ion-label> Día </ion-label>
      <ion-checkbox
        slot="end"
        [checked]="answers.day"
        (ionChange)="selectOption('day', 'night')"
      ></ion-checkbox>
    </ion-item>
    <ion-item class="custom-item" lines="none">
      <ion-label> Noche </ion-label>
      <ion-checkbox
        slot="end"
        [checked]="answers.night"
        (ionChange)="selectOption('night', 'day')"
      ></ion-checkbox>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <p class="question-title">¿Prefieres playa o montaña?</p>
    <ion-item class="custom-item" lines="none">
      <ion-label> Playa </ion-label>
      <ion-checkbox
        slot="end"
        [checked]="answers.beach"
        (ionChange)="selectOption('beach', 'mountain')"
      ></ion-checkbox>
    </ion-item>
    <ion-item class="custom-item" lines="none">
      <ion-label> Montaña </ion-label>
      <ion-checkbox
        slot="end"
        [checked]="answers.mountain"
        (ionChange)="selectOption('mountain', 'beach')"
      ></ion-checkbox>
    </ion-item>
  </ion-col>
</ion-row>


    <!-- Pregunta 3 -->
    <ion-row>
      <ion-col>
        <p class="question-title">
          Del 1 al 10, ¿te consideras una persona más o menos extrovertida?
        </p>
    
        <ion-grid>
          <ion-row>
            <!-- Primera columna con los números del 1 al 5 -->
            <ion-col>
              <div class="rating-buttons">
                <ion-button
                  *ngFor="let number of [1, 2, 3, 4, 5]"
                  [color]="selectedRating === number ? 'primary' : 'light'"
                  (click)="selectRating(number)"
                >
                  {{ number }}
                </ion-button>
              </div>
            </ion-col>
    
            <!-- Segunda columna con los números del 6 al 10 -->
            <ion-col>
              <div class="rating-buttons">
                <ion-button
                  *ngFor="let number of [6, 7, 8, 9, 10]"
                  [color]="selectedRating === number ? 'primary' : 'light'"
                  (click)="selectRating(number)"
                >
                  {{ number }}
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p class="question-title">¿Te consideras una persona más espiritual o más racional?</p>
        <ion-item class="custom-item" lines="none">
          <ion-label> Espiritual </ion-label>
          <ion-checkbox
            slot="end"
            [checked]="answers.espiritual"
            (ionChange)="selectOption('espiritual', 'racional')"
          ></ion-checkbox>
        </ion-item>
        <ion-item class="custom-item" lines="none">
          <ion-label> Racional </ion-label>
          <ion-checkbox
            slot="end"
            [checked]="answers.racional"
            (ionChange)="selectOption('espiritual', 'racional')"
          ></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Botón de envío -->
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="submit-button" (click)="submitAnswers()" routerLink="/tabs/perfil">
          Guardar cambios
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

