ion-header{



    .custom-toolbar {
        --background: #F5F5F5;
        padding: 10px 15px; 
      
        
       
      }
      
        .custom-header {
          display: flex;
          align-items: center;
          height: 100%;
          position: relative;
          padding: 0 15px;
        }
        
      
      
        .header-content {
          display: flex;
          align-items: center;
          justify-content: space-between; 
          width: 100%;
          position: relative; 
        }
      
      .back-button {
        width: 40px; 
        height: 40px; 
        min-height: unset; 
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-left:-30px;
        --background:#EF3890;
    
        border-radius: 10px;
      }
      
      .icono {
        height: 15px;
        width: 15px;
        
       
      }
      
      .header-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
        text-align: center;
        top: 50%; 
        transform: translate(-50%, -50%); 
      }
      
      .header-title {
        color: #ffffff;
        font-size: 15px;
        font-family: Poppins Medium;
        margin-left: 10px;
        margin-top: 30px;
        white-space: nowrap;
      
      }



}

ion-grid{

    margin-top: 0 !important;
}

.title {
    text-align: left;
    font-size: 22px;
    color: #292426;
    font-family: Poppins SemiBold;
 
  }
  
  .subtitle {
    text-align: left;
    font-size: 14px;
    color: #838383;
 
  }
  
  .question-title {
    font-size: 16px;
    font-family: Poppins Regular;
    color: #292426;
    margin-top: 20px;
    margin-bottom: 10px;
 
  }
  
  .custom-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-bottom: 10px;
    --ion-item-background:white;
    --padding-start: 15px;
    
  }

  .custom-item ion-checkbox {
    --border-radius: 5px; /* Bordes redondeados de 5px */
    --size: 20px; /* Tamaño del checkbox */
    --border-width: 1px; /* Grosor del borde */
    --border-color: #838383; /* Color del borde */
    --background: transparent; /* Fondo transparente cuando está desmarcado */
    --checkmark-color: #ffffff; /* Color del checkmark al seleccionarse */
  }
  
  .custom-item ion-checkbox.checked {
    --background: #fffefe; /* Fondo del checkbox cuando está seleccionado */
    --border-color: #838383; /* Cambia el color del borde al estar seleccionado */
  }

  ion-label{

    font-family: Poppins Regular !important;
    font-size: 16px !important;
  }
  
  .rating-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px;
  }
  
  .rating-buttons ion-button {
    width: 72px;
    height: 72px; 
    font-size: 16px; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 0; 
    line-height: 1; 
    box-sizing: border-box; 
  }
  
  
  
   
  .submit-button {
    margin-top: 30px;
    --background: linear-gradient(90deg, #EF3890, #F576B3); 
    color: white;
    font-size: 16px;
    font-family: Poppins Regular;
    border-radius: 10px;
    min-height: 58px;
    width: 100%
  }
  
  