

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-content">
    
    <ion-button class="header-button" routerLink="/tabs/profile">
      <ion-icon class="arrow" src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg"></ion-icon>
    </ion-button>
  
    <p class="head-title">Mi suscripción</p>
  
  </div>

  <div class="card" *ngFor="let dato of datos">
    <p class="card-title">{{dato.titulo}}</p>

    <div class="inside-card">
      <p class="date-bonus">{{dato.bonus}}</p>
      <p class="price">{{dato.precio}}<span class="month">{{dato.tiempo}}</span></p>
    </div>

    <hr>

    <p class="next-reno">{{dato.nuevoMensaje}} <span class="date-reno">{{dato.fecha}}</span></p>

  </div>

  <div class="card-2">

    <div class="edit-content">

    <p class="pay-method">Método de pago</p>

    <ion-button class="edit-button">Editar</ion-button>

    </div>

    <div class="visa-data">

      <p class="visa">Tarjeta</p>

      <p class="visa">**** **** **** 0000</p>

    </div>

  </div>


  <ion-button class="last-button">Cancelar suscripción</ion-button>

</ion-content>
