<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="custom-header">
      <div class="header-content">
        <ion-button class="back-button" fill="solid" (click)="goBack()">
          <ion-icon class="icono" slot="start" src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg"></ion-icon>
        </ion-button>
        <div class="header-center">
          <p class="header-title">Recordar contraseña</p>
        </div>
        <ng-content></ng-content>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-text">
  <h2 >¿No recuerdas tu contraseña?</h2>
  <p > Escribe tu email <br>y te enviaremos una nueva clave</p>
</div>
<form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-item class="custom-item">
    
    <ion-input clearInput type="text" placeholder="{{ 'REGISTER.EMAIL' | translate }}" formControlName="email">
      <ion-icon class="credential-icon" slot="start" src="assets/icons/email.svg"></ion-icon>
    </ion-input>
  </ion-item>

    <ion-button type="submit" class="password-btn" expand="block">Entrar</ion-button>
  </form>
</ion-content>