.cabecera {
    
    padding: 16px;
    background:#EF3890 ;
    height: 156px;
  }
  
  .principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .textos {
    text-align: left;
    padding-left: 0; /* Asegúrate de que no haya padding adicional a la izquierda */
    margin: 0; 
    margin-top: 60px;
    
  }
  
  .saludo {
    font-size: 20px;
    margin: 0; 
    color: white;
    
  }
  
  .nombre {
   
    font-weight: bold;
  }

  .notification{
    margin-right: 5px;
    margin-top: 60px;
  }
  .notification-icon{

    width: 25px;
    height: 25px;
    
  }
  
  .notification-btn {
    --background: #ffffff; 
    border-radius: 10px; 
    width: 40px;
    height: 40px;
    position: relative;
  }
  .badge {
    background-color: #F59DC7;
    color: white;
    position: absolute;
    font-family: Poppins Regular;
    top: 2px;
    right: 3px;
    font-size: 7px;
    width: 15px; 
    height: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

.imagen-inicio{

    height: 235px;
    display: block;
    filter: grayscale(100%);
}

.header-content {
   
    padding: 12px;
   
  }

  .title {
    text-align: left;
    font-size: 20px;
    color: #292426;
    font-family: Poppins SemiBold;
 
  }
  
  .subtitle {
    text-align: left;
    font-size: 15px;
    color: #838383;
 
  }

/* Estilo base para el ion-item */
.date-selection .custom-item {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 18px;
    height: 89px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.17); /* Sombra paralela */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent; /* Sin borde inicial */
    transition: border 0.3s ease; /* Transición suave */
  }
  
  /* Cuando la clase "selected" está activa, cambiamos el borde */
  .date-selection .custom-item.selected {
    border: 1px solid #FD56A6; /* Borde rosa cuando el checkbox está marcado */
  }
  
  /* Estilo para el ion-label */
  .date-selection .custom-item ion-label {
    margin-left: 27px;
    font-size: 16px;
   
  }
  
  
