<ion-header class="cabecera">
  <div class="principal">
    <div class="textos">
      <p class="saludo">Hola <span class="nombre">Carlos</span>,</p>
      <p class="saludo"> reserva tu próxima cita</p>
    </div>
    
    <div class="notification">
      <ion-button  class="notification-btn" routerLink="/notificaciones">
        <ion-icon class="notification-icon" src="../../../assets/icons/bell.svg" slot="icon-only" ></ion-icon>
        <ion-badge color="light" class="badge" slot="end">+99</ion-badge>
     
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/imgs/imagen inicio.png" alt="Imagen Inicio" class="imagen-inicio" />

  <div class="header-content">
    <h1 class="title">Selección de fecha</h1>
    <p class="subtitle">
      Selecciona una de las fechas disponibles para mantener tu próxima cena
    </p>
  </div>

  <div class="date-selection">
    <ion-item
      *ngFor="let date of dates"
      class="custom-item"
      [ngClass]="{'selected': date.selected}"
      lines="none"
      (click)="onSelectDate(date)"
      >
      <ion-label routerLink="/seleccion-fecha-resultados" >{{ date.label }}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="date.selected" ></ion-checkbox>
    </ion-item>
  </div>
  

 
</ion-content>
