<ion-header>
  <div class="header">
    <img class="image-header" src="../../../assets/imgs/header.png" alt="">
    <div class="hearts-content">
      <ion-icon src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg" (click)="goBack()"></ion-icon>
      <img class="heart" src="../../../assets/imgs/Grupo_12215@3x.png" alt="">
    </div>
    <div class="hearts-title-content">
    <p class="head-title">¡Tu próxima cita te espera!</p>
    <p class="head-paragraph">El amor a primera vista... <br>
    ¡a la hora de la cena!</p>
    </div>
  </div>

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

 

<div class="text-image-content">
  <div>
    <p class="title">Conexión instantánea</p>
    <p class="text">¿Te imaginas cenando con alguien <br>
    que te haga sentir especial?</p>
  </div>
    <img class="dinner" src="../../../assets/imgs/Grupo-12330@3x.png" alt="">
</div>

<div class="text-image-content">
  <div>
    <p class="title">Una experiancia única</p>
    <p class="text">¡Vive una noche inolvidable llena <br>
    de sorpresas y emociones!</p>
  </div>
    <img class="fire" src="../../../assets/imgs/grupo12331_modif.png" alt="">
</div>

<div class="text-image-content">
  <div>
    <p class="title">Un comienzo prometedor</p>
    <p class="text">Quién sabe... ¡Tal vez encuentres <br>
    el amor de tu vida!</p>
  </div>
    <img class="love-letter" src="../../../assets/imgs/Grupo_12332@3x.png" alt="">
</div>

<ion-button class="last-button" (click)="openModal()" expand="block">Dos bonos de cita por sólo <span> 14,99€</span></ion-button>

<p class="last-text">Cancela cuando quieras desde tu perfil. <br>
Consulta condiciones <span>aquí</span>.</p>
</ion-content>


<!-- ///////////////////  MODAL  //////////////////////////// -->

<ion-modal trigger="open_modal" #open_modal [initialBreakpoint]="1" [breakpoints]="[0, 1]" class="ion-padding">
  <ng-template>
    <div class="icon-content">
  <ion-icon class="close-cross" src="../../../assets/icons/Trazado47885.svg" (click)="closeModal()"></ion-icon>
  </div>
  <p class="modal-title">Añade tu forma de pago</p>

  <img class="fondo-tarjeta" src="../../../assets/imgs/fondo-tarjetas.png" alt="">

  <!-- <div lines="none" class="add-visa">
    <ion-icon class="visa-icon" slot="start" src="../../../assets/icons/Unión_134.svg"></ion-icon>
    <ion-item lines="none">
      <ion-input lines="none" placeholder="Tarjeta"></ion-input>
    </ion-item>
      
  </div>

  <div class="title-input">
    <p class="grey-title">Información de la tarjeta</p>
    <div class="input-content">
    <ion-icon src="../../../assets/icons/Camera.svg"></ion-icon>
    <p class="pink-text">Escanear Tarjeta</p>
  </div>
  </div>

  <div class="visa-info-content">
  <ion-item class="item-visa-content" lines="none">
    <ion-input slot="start" lines="none" class="visa-num-icon" placeholder="Número de tarjeta">
      <ion-icon class="visa-icons" slot="end" src="../../../assets/icons/Grupo_11157.svg"></ion-icon>
      <ion-icon class="visa-icons" slot="end" src="../../../assets/icons/Grupo_11158.svg"></ion-icon>
      <ion-icon class="visa-icons" slot="end" src="../../../assets/icons/Grupo_11159.svg"></ion-icon>
      <ion-icon class="visa-icons" slot="end" src="../../../assets/icons/Grupo_11160.svg"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-item class="item-date" lines="none">
    <ion-input slot="start" lines="none" class="visa-date" placeholder="MM/AA"></ion-input>
    <ion-input slot="start" class="visa-cvc" lines="none" placeholder="CVC"></ion-input>
  </ion-item>
  </div>

  <p class="grey-title-2">Información del país</p>

  <ion-item class="last-item" lines="none">
     <ion-input lines="none" label="País o región" labelPlacement="stacked" placeholder="España"></ion-input>
     <ion-icon lines="none" slot="end" src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg"></ion-icon>
  </ion-item> -->

  <ion-button class="last-button-modal" routerLink="/tabs/inicio" (click)="closeModal()">Proceder al pago de <span> 14,99€</span></ion-button>
</ng-template>
</ion-modal>