<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header-content">
    
    <ion-button class="header-button" (click)="goBack()">
      <ion-icon class="arrow" src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg"></ion-icon>
    </ion-button>
  
    <p class="head-title">EULA</p>
  
  </div>

  <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit tellus et urna pellentesque, sit amet interdum enim dignissim. Curabitur tempus lorem at libero sagittis, ut tempor nulla posuere. In vel fermentum nisl. Nam quis nibh tincidunt, finibus augue in, aliquam libero. Vestibulum eget ornare lectus, nec aliquet nunc. Vivamus suscipit ligula at velit maximus eleifend. Pellentesque quis vulputate velit. Curabitur lacus dui, pharetra ut nulla consequat, faucibus lobortis ex. Vivamus ut mi vitae erat feugiat dictum ac ac lorem. Aliquam vel nisl at urna viverra elementum et pharetra libero. Proin luctus ultrices placerat. Pellentesque ornare, mi ut faucibus sollicitudin, ligula nibh sodales ex, eget consectetur neque justo et risus. Quisque maximus non neque in aliquam.</p>

  <p class="text">Nam in metus pretium turpis condimentum ornare in ut est. Vivamus pharetra tempor hendrerit. In justo ante, aliquam posuere nunc eu, dignissim eleifend urna. Phasellus id euismod felis. In sagittis libero placerat nunc fermentum, a tempus nisi porttitor. Aliquam efficitur aliquam volutpat. Vestibulum at scelerisque lorem, non tristique lectus. Duis pretium ligula et consectetur pretium. Mauris sodales non ipsum quis imperdiet. Duis a faucibus magna, ut auctor enim. Nam sollicitudin sit amet libero ut consectetur. Curabitur volutpat augue ipsum, in facilisis diam feugiat ac.</p> 

</ion-content>

