

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="header-content">
    
    <ion-button class="header-button" routerLink="/tabs/profile">
      <ion-icon class="arrow" src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg"></ion-icon>
    </ion-button>
  
    <p class="head-title">Usuarios bloqueados</p>
  
  </div>

  <div class="card">

    <div class="photo-content">
    <img class="user-photo" src="../../../assets/imgs/Elipse 304@3x.png" alt="">

    <p class="name">Marta A.</p>
    </div>

    <ion-button class="bloq-button">Desbloquear</ion-button>

  </div>

</ion-content>
