<div class="header-background">
  <ion-header class="ion-no-border" [ngClass]="{'android-styleheader': isAndroid, 'ios-styleheader': isIOS}">
    <div class="button-container">
      <ion-buttons slot="start">
        <button class="custom-back-button" routerLink="/cover-page">
          <ion-icon class="background-icon" src="assets/icons/backBackground.svg"></ion-icon>
          <ion-icon class="foreground-icon" src="assets/icons/volver.svg"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-header>
  <div class="content-top"></div>
</div>

<app-error-view 
  *ngIf="showError" 
  [errorCode]="errorCode" 
  [errorMessage]="errorMessage"
  (retryFunction)="submitForm()"
  (backPage)="backPage()"
  >
</app-error-view>


  <div class="titulos">
    <p class="title">Log in</p>
    <p class="subtitle">¡Bienvenido de nuevo!</p>
  </div>

  
<div class="login">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <ion-item class="custom-item">
        
        <ion-input clearInput type="text" placeholder="{{'LOGIN.USER' | translate }}" formControlName="email">
          <ion-icon class="credential-icon" slot="start" src="assets/icons/user.svg"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-input clearInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate }}" formControlName="password">
          <ion-icon slot="start" class="credential-icon" src="assets/icons/password.svg"></ion-icon>
          <ion-input-password-toggle slot="end" color="secondary"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <p class="forgot-password" routerLink="/forgot-password">He olvidado mi contraseña</p>
      <ion-button class="entrar" expand="block" type="button" [routerLink]="'/formulario-de-compatibilidad'" [queryParams]="{ fromPage: 'login' }">
        Entrar
      </ion-button>
      
     
    </form>

    <div class="goLogin">
      <p>¿Aún no tienes una cuenta? </p>
      <p class="register-text" style="color:#EF3B92" routerLink="/register"> Regístrate</p>
    </div>
    

  </div>
