
.custom-toolbar {
  --background: #EF3890;
  padding: 10px 15px; 

  
 
}

  .custom-header {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0 15px;
  }
  


  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    position: relative; 
  }

.back-button {
  width: 40px; 
  height: 40px; 
  min-height: unset; 
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left:-30px;
  --background:#EF3890;
  --border-radius: 10px;
}

.icono {
  height: 15px;
  width: 15px;
  color: #ffffff;
 
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  top: 50%; 
  transform: translate(-50%, -50%); 
}

.header-title {
  color: #ffffff;
  font-size: 15px;
  font-family: Poppins Medium;
  margin-left: 10px;
  margin-top: 30px;
  white-space: nowrap;

}