.android-styleheader {
  height: 80px !important;
}

.ios-styleheader {
  height: 100px !important;
}

.header-background {
  background-image: url('/assets/imgs/pattern-jose3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.content-top {
  height: 50vh;
  width: 100%;
}

.login {
  background-color: #ffffff !important;
  border-radius: 10px;
  position: fixed;
  margin: 60% 16px;
  padding: 20px;
  z-index: 10;
  width: 91.5%;
}

.titulos {
  position: fixed;
  z-index: 10;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 30px;
  color: #ffffff;
  font-family: 'Poppins SemiBold';
}

.subtitle {
  font-size: 17px;
  color: #ffffff;
  font-family: 'Poppins Regular';
}


.custom-item {
  --border-width: 0;
  --box-shadow: none;
  --border-radius: 8px;
  --padding-start: 10px;
  --inner-padding-end: 0;
  --min-height: 50px;
  margin-bottom: 12px;
  background-color: #fff;
  border: 1.5px solid #ddd;
  border-radius: 10px;
}

.custom-item:focus-within {
  border: 1px solid #f576b3;
}



.icon-input {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;

}

.custom-item ion-input::part(native):-moz-placeholder {

  font-family: Poppins Regular !important;
}
.custom-item ion-input::part(native)::placeholder {
  
  font-family: Poppins Regular !important;
}
.custom-item ion-input::part(native)::-webkit-input-placeholder {
  font-family: Poppins Regular !important;
}

ion-input::part(native) {
  font-size: 16px;
  color: #333;
  margin-left: 15px;
  font-family: Poppins Regular !important;
}


.icon-person {
  background-image: url('/assets/icons/person.svg');
  margin-left: 10px;
  margin-right: 15px;
}

.icon-person-selected {
  background-image: url('/assets/icons/person-selected.svg');
  margin-left: 10px;
  margin-right: 15px;
}

.icon-email {
  background-image: url('/assets/icons/email.svg');
  margin-left: 10px;
  margin-right: 15px;
}

.icon-email-selected {
  background-image: url('/assets/icons/email-selected.svg');
  margin-left: 10px;
  margin-right: 15px;
}

.icon-password {
  background-image: url('/assets/icons/password.svg');
  margin-left: 10px;
  margin-right: 15px;
}

.icon-password-selected {
  background-image: url('/assets/icons/password-selected.svg');
  margin-left: 10px;
  margin-right: 15px;
}

.icon-confirm-password-selected {
  background-image: url('/assets/icons/password-selected.svg');
  margin-left: 10px;
  margin-right: 15px;

}

.icon-confirm-password {
  background-image: url('/assets/icons/password.svg');
  margin-left: 10px;
  margin-right: 15px;
}


.container-a {
  display: flex;
  align-items: center;
  margin-top: 23px;
  margin: 15px 0 25px;
  gap: 5px;
  width: 100%;
}

.politicas {
  font-family: 'Poppins Regular';
  font-size: 13px;
  margin: 0;
  margin-left: 6px;
  line-height: 1.5;
  color: #2E2D2E;
  cursor: pointer;
}

.politicas-link {
  color: #2E2D2E;
  font-size: 14px;
  font-family: 'Poppins SemiBold';

}

ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: #EF3890;
  --checkmark-width: 3px;
  --checkmark-color: white;
}

ion-checkbox::part(container) {
  border-radius: 2px;
  border: 1px solid #EF3890;
}

.container-btn {
  padding-top: 12px;
}

ion-button {
  height: 57px !important;
  width: 100%;
}

.goLogin {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  gap: 5px;
}

//BACKBUTTON
.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 34px !important;
}

.custom-back-button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-icon {
  font-size: 40px;
  position: absolute;
  z-index: 1;
}

.foreground-icon {
  font-size: 15px;
  z-index: 2;
}

//FIN BACKBUTTON