<div class="header-background">
  <ion-header class="ion-no-border" [ngClass]="{'android-styleheader': isAndroid, 'ios-styleheader': isIOS}">
    <div class="button-container">
      <ion-buttons slot="start">
        <button class="custom-back-button" routerLink="/cover-page">
          <ion-icon class="background-icon" src="assets/icons/backBackground.svg"></ion-icon>
          <ion-icon class="foreground-icon" src="assets/icons/volver.svg"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-header>
  <div class="content-top"></div>
</div>

<div class="titulos">
  <p class="title">Registro</p>
  <p class="subtitle">Añade tus datos para continuar</p>
</div>
<!-- <ion-content class="ion-padding"> -->

<div class="login">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-item class="custom-item">
      <div class="icon-input" slot="start"
        [ngClass]="{'icon-person-selected': isNameFocused, 'icon-person': !isNameFocused}">
      </div>
      <ion-input clearInput type="text" placeholder="{{ 'REGISTER.NAME' | translate }}" formControlName="name" required
        (click)="onFocus('name')" (blur)="onFocus('')">
      </ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <div 
  class="icon-input" 
  slot="start" 
  [ngClass]="{'icon-email-selected': isEmailFocused, 'icon-email': !isEmailFocused}">
</div>
      <ion-input clearInput type="email" placeholder="{{ 'REGISTER.EMAIL' | translate }}" formControlName="email"
        required (click)="onFocus('email')" (blur)="onFocus('')">
      </ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <div class="icon-input" slot="start"
        [ngClass]="{'icon-password-selected': isPasswordFocused, 'icon-password': !isPasswordFocused}">
      </div>
        <ion-input-password-toggle slot="end" color="secondary"></ion-input-password-toggle>
      <ion-input clearInput [type]="typeInput" placeholder="{{ 'REGISTER.PASSWORD' | translate }}"
        formControlName="password" required (click)="onFocus('password')" (blur)="onFocus('')">
      </ion-input>
    </ion-item>

    <ion-item class="custom-item">
      <div class="icon-input" slot="start"
        [ngClass]="{'icon-confirm-password-selected': isConfirmPasswordFocused, 'icon-confirm-password': !isConfirmPasswordFocused}">
      </div>
        <ion-input-password-toggle slot="end" color="secondary"></ion-input-password-toggle>
      <ion-input clearInput type="password" placeholder="{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}"
        formControlName="password_confirmation" required (click)="onFocus('confirmPassword')" (blur)="onFocus('')">
      </ion-input>
    </ion-item>

    <div class="container-a">
      <ion-checkbox></ion-checkbox>
      <p class="politicas">
        He leído y acepto <a class="politicas-link" routerLink="/privacy-policy">la Política de Privacidad</a>
        y <a class="politicas-link" routerLink="/eulas">los Términos y Condiciones de Venta</a>.
      </p>
    </div>

    <ion-button expand="block" type="button" routerLink="/formulario">Registrarme</ion-button>
  </form>

<div class="goLogin">
  <p>¿Ya tienes una cuenta? </p>
  <p style="color:#EF3B92" routerLink="/login"> Ir a Log in</p>
</div>

</div>
<!-- </ion-content> -->