<ion-header [translucent]="true">
  <div class="header-content">
    <ion-button class="header-button">
      <ion-icon class="arrow" src="../../../assets/icons/Icon ionic-ios-arrow-forward.svg"></ion-icon>
    </ion-button>
    <p>Configurar mis datos</p>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="image-content">
    <img class="profile-image" src="../../../assets/imgs/Elipse_379@3x.png" alt="">
    <ion-button class="change-button"></ion-button>
  </div>

  <div>

    <ion-item class="input-content">
      <ion-input label="Nombre" placeholder="Juan Galván"></ion-input>
    </ion-item>

    <ion-item class="input-content">
      <ion-input label="Email" placeholder="juan.galván@correo"></ion-input>
    </ion-item>

    <ion-item class="input-content">
      <ion-input label="Contraseña" placeholder="password-prueba"></ion-input>
    </ion-item>

    <ion-item class="input-content">
      <ion-input label="Repetir contraseña" placeholder="password-prueba"></ion-input>
    </ion-item>

  </div>

  <ion-button>Guardar cambios</ion-button>

  <ion-button class="last-button">Eliminar cuenta</ion-button>



</ion-content>
