

<ion-content [fullscreen]="true" class="ion-padding">
 <p class="head-title">Consulta aquí</p>
 <p class="pink-title">tus próximas citas</p>


 <p class="grey-text">Noviembre</p>

 <div class="card-content" routerLink="/detalle-cita">
  <div>
    <p class="day-name">Vie</p>
    <p class="num-day">10</p>
  </div>
  <p class="card-text">Cita en restaurante <span class="card-text-bold"> Nombre restaurante</span>
  a las <span class="card-text-bold">9:30 P.M</span></p>
 </div>

 <div class="card-content">
  <div>
    <p class="day-name">Vie</p>
    <p class="num-day">16</p>
  </div>
  <p class="card-text">Cita en restaurante <span class="card-text-bold"> Nombre restaurante</span>
  a las <span class="card-text-bold">9:30 P.M</span></p>
 </div>






</ion-content>
