

<ion-content [fullscreen]="true" class="ion-padding">
 <p class="head-title">Consulta aquí</p>
 <p class="pink-title">tus próximas citas</p>


 <p class="grey-text">Noviembre</p>

 <div class="card-content" [routerLink]="cita.ruta" *ngFor="let cita of citas" [queryParams]="{ horaCita: cita.hora, restaurante: cita.restaurante, diaNumero: cita.diaNumero }">
  <div>
    <p class="day-name">{{cita.dia}}</p>
    <p class="num-day">{{cita.diaNumero}}</p>
  </div>
  <p class="card-text">Cita en restaurante <span class="card-text-bold"> {{cita.restaurante}}</span>
  a las <span class="card-text-bold">{{cita.hora}}</span></p>
 </div>

 






</ion-content>
